!!! 5
%html
  %head
    %title Credit Card Services
  %body
    %h1 Welcome to Credit Card Services by Enigma Manufacturing.
    %a{href: '/'}
      = "Home |"
    - if @current_user
      = "Welcome #{@current_user.username} | "
      %a{href: '/logout'}
        logout
      %a{href: "/user/#{@current_user.username}"}
        | Profile
    - else
      %a{href: '/login'}
        = "Login | "
      %a{href: '/register'}
        = "Register"
    = haml :flash_bar
    = yield
