!!! 5
%html
  %head
    %title Credit Card Services
  %body
    %h1 Welcome to Credit Card Services by Enigma Manufacturing.
    %a{href: '/'}
      = "Home |"
    - if @current_user
      = "Welcome #{@current_user.username} | "
      %a{href: '/logout'}
        logout
    - else
      %a{href: '/login'}
        = "Login | "
      %a{href: '/register'}
        = "Register"
    %a{href: '/user/@current_user.username'}
      = "| Profile"
    = haml :flash_bar
    = yield
