%h2 User Credit Card
%table{:border => 1}
  %thead
    %tr 
      %th
        ID
      %th
        OWNER
      %th
        EXPIRATION DATE
      %th
        CREDIT NETWORK
      %th
        ENCRYPTED CARD NUMBER
  %tbody
    - @tablecards.each do |row|
      %tr
        %td= "#{row['id']}"
        %td= "#{row['owner']}"
        %td= "#{row['expiration_date']}"
        %td= "#{row['credit_network']}"
        %td= "#{row['encrypted_number']}"

