%h2 User Credit Card
%table{:border => 1}
  %thead
    %tr 
      %th
        ID
      %th
        OWNER
      %th
        EXPIRATION DATE
      %th
        CREDIT NETWORK
  %tbody
    -@tablecards['credit_cards'].each do |row|
      %tr
        %td= "#{row['owner']}"
        %td= "#{row['expiration_date']}"
        %td= "#{row['credit_network']}"
        %td= "#{row['number']}"

